{% extends './layout.html' %}

{% block header %}
	{% if isPro %}
	<script type="text/javascript" charset="utf-8">
		if (typeof window.__REACT_DEVTOOLS_GLOBAL_HOOK__ === 'object') {
    	__REACT_DEVTOOLS_GLOBAL_HOOK__.inject = function() {};
		}
	</script>
	{% endif %}
  {{link}}
  {{style}}
  <script type="text/javascript">
    window.__store = {{store}}
  </script>
{% endblock %}

{% block content %}
<body>
	<div id="root">{{html}}</div>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=s7DTOhUzFdkSyeiMmVzv1bGqAG2ACseK"></script>
	{{script}}
</body>
{% endblock %}